body {
    margin: 0;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  #pipVideo {
    display: none; /* cacher la vidéo, utilisée seulement pour PiP */
  }
  
  #startBtn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  